@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &filters-panel {
    background-color: $grey;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    color: $black;

    &__item {
      display: flex;
      align-items: center;
    }

    :first-child {
      margin-left: auto;
    }

    &__levels-label {
      margin-right: 1rem;
    }

    &__btn {
      @include material-icon();
      margin-right: 4rem;
    }

    &__standards-label {
      margin-right: 1rem;
    }
  }

  &levels {
    &--input {
      width: 4rem;
      text-align: right;
    }
  }

  &standards-only {
    span {
      background-color: $white;
    }
  }
}