@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &remind {
    align-items: center;
  	background-color: $grey-lighter;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;

    & .ac-panel {
    	position: relative;
      top: -100px;
    }

    &__form-container {
    	display: flex;
    	flex-direction: column;
    	padding: 2rem;
    	width: 400px;
    }

    &__back-btn {
      margin-top: 15px;
    }
  }
}