@import 'styles/vars-and-mixins.scss';

.#{$namespace} {

  &submissions-table {
    table-layout: fixed;

    &__id-th {
      width: 5%;
    }

    &__author-th {
      width: 15%;
    }

    &__author-td {
      overflow: hidden;
      word-break: break-word
    }

    &__study-th {
      width: 14%;
    }

    &__study-td {
      overflow: hidden;
      word-break: break-word
    }

    &__analysis-th {
      width: 10%;
    }

    &__analysis-td {
      overflow: hidden;
      word-break: break-word
    }

    &__data-source-th {
      width: 14%;
    }

    &__data-source-td {
      overflow: hidden;
      word-break: break-word
    }

    &__submitted-th {
      width: 10%;
    }

    &__finished-th {
      width: 10%;
    }

    &__status-th {
      width: 8%;
    }

    &__results-th {
      width: 14%;
    }

    &__results-td {
      .ac-tooltip {
        display: inline-block;
        &:not(:last-of-type) {
          margin-right: 8px;
        }
      }
    }
  }

  &submission-status {
    @include title();

    &--grey {
      color: $grey;
    }

    &--red {
      color: $red;
    }

    &--blue {
      color: $blue;
    }

    &--purple {
      color: $purple;
    }

    &--green {
      color: $green;
    }
  }

  &submission-download,
  &submission-explore {
    @include material-icon();
  }

}