@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &download-history {
  	display: flex;
  	flex-direction: column;
    
    &__download-button {
    	background: $purple-darker;
    	color: $white;

    	&:hover {
    		background: $purple;
    	}
    }

    &__row {
      &--selected {
        background: $grey-light;
      }
    }

    &__remove-button {
      color: $blue-dark;
    }

    & > .ac-toolbar {
      background-color: $grey-light;
    }

    &__bundle-caption .ac-toolbar {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &bundle-caption {

    &__date {
      display: block;
      font-size: $font-size-base;
      font-weight: initial !important;
    }
  }
}