@import 'arachne-components/lib/styles/components';
@import 'arachne-components/lib/styles/app.scss';

$namespace: 'at-';

.#{$namespace} {
  &root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__main {
      display: flex;
      min-height: calc(100% - #{$header-height});
      flex-grow: 1;
    }

    & .ac-header__nav {
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__header {
      background: $green;
      min-height: 56px;

      &--empty {
        & .ac-header__nav {
          border: none;
        }
      }
    }

    & .ac-header__menu-item {
      margin-left: 0;
    }
  }
}