@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &sidebar-item {
    display: flex;
    align-items: baseline;

    &--no-link {
      padding: 0 2rem;
    }

    &__icon-wrapper {
      display: flex;
      flex-direction: row;
    }

    &__icon {
      @include material-icon();
      color: $white;
      margin-right: 1rem;
      line-height: 1rem;
    }
  }
}