@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &search-facets {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & .ac-faceted-search__form-fields {
    	overflow-y: scroll;
    }
  }
}