@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &confirm-download {
    min-width: 500px;

    &__actions {
      padding: 2rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
    }

    &__download-button {
      margin-bottom: 0.5rem;
    }

    &__remove-button {
      color: $blue;
      font-weight: initial;
      margin-left: auto;
      text-transform: initial;
    }

    &__bundle-name {
      background-color: $grey-lighter;
      padding: 0.5rem 2rem;

      &-input {
        @include input();
        @include input-border();
      }
    }

    &__errors {
      padding: 1rem 2rem 0;
      text-align: center;
    }

    &__error {
      color: $red;
    }
  }
}