@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &edit-permissions {
  	@include tabbed-modal();

    &__tab-content {
	    padding: 2rem;
	    min-width: 500px;
	    min-height: 200px;
	  }

    &__pending-voc {
    	display: flex;
    	padding: 0.5rem 0;
    }

    &__pending-voc-name {
    	flex-grow: 1;
    	padding-right: 0.5rem; 
    }

    &__pending-button {
    	@include title();
    	width: 6rem;
    }

    &__submit-button-wrapper {
    	padding: 1rem 2rem;
    }
    &__submit-button {
    	width: 100%;
    }
  }

  &pending-radio-btn {
  	& .ac-radio-button {
  		&__box {
		  	margin: auto;
		  }
		}
  }
}