@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &edit-permissions {
  	& .ac-tabbed-pane {
  		&__content {
  			margin-top: 0;
  			box-shadow: none;
  		}

  		&__tabs {
  			border-radius: 0;
  			box-shadow: none;
  		}
  	}

  	&__tab-content {
	    min-width: 500px;
	    min-height: 200px;
	    border-bottom-left-radius: $input-border-radius;
	    border-bottom-right-radius: $input-border-radius;
	    overflow: hidden;
	    padding: 2rem;
	  }

    &__pending-voc {
    	display: flex;
    	padding: 0.5rem 0;
    }

    &__pending-voc-name {
    	flex-grow: 1;
    	padding-right: 0.5rem; 
    }

    &__pending-button {
    	@include title();
    	width: 6rem;
    }

    &__submit-button-wrapper {
    	padding: 1rem 2rem;
    }
    &__submit-button {
    	width: 100%;
    }
  }

  &pending-radio-btn {
  	& .ac-radio-button {
  		&__box {
		  	margin: auto;
		  }
		}
  }
}