@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &file-browser {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      width: 100%;
      flex-grow: 1;
      height: 1px;
    }

    &__details {
      flex-grow: 1;
      display: flex;
      position: relative;
      width: 55rem;
    }

    &__nav {
      border-right: 1px solid $grey-light;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 32rem;
      /* for loader */
      position: relative;
    }

    &__nav-header {
      @include black-nav();
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__nav-content {
      flex-grow: 1;
      overflow: auto;
      padding: .75rem 0;
      /* fix for &file-tree__node width */
      position: relative;
    }

    &__summary {
      @include file-tree-item();

      &-label {
        margin-left: 0.5rem;
        padding-left: 0.4rem;

        &--displaced {
          padding-left: 1.8rem;
        }
      }
    }
  }
}