@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &term-connections {
    width: 100%;
    height: 100%;

    & circle.node {
		  cursor: pointer;
		  stroke: $black;
		  fill: #fd8c3c;
		  stroke-width: .5px;

		  &.current {
		  	fill: $red;
		  }
		}

		& line.link {
			/* colors are temporary */
		  fill: #9bc9e1;
		  stroke: #9ecae1;
		  stroke-width: 1.5px;
		}
  }
}