@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &term {
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__content {
      flex-grow: 1;
    }

    &__details-wrapper {
      padding: 0;
      margin: 2rem 0.5rem 2rem 3rem;
    }

    &__connections-wrapper {
      padding: 0;
      margin: 2rem 0.5rem;
      
      & .ac-panel {
        &__content {
          height: 100%;
        }
      }
    }

    &__connections-graph {
      width: 100%;
      height: 100%;
    }

    &__subheader {
      @include title();
      align-items: center;
      background: $black;
      color: $white;
      display: flex;
      padding: 1rem 0;
    }

    &__back-button {
      @include material-icon();
      background: $blue;
      border-radius: $input-border-radius;
      color: $white;
      font-size: 2.5rem;
      height: 3rem;
      line-height: 3rem;
      margin: 0 1.5rem 0 3rem;
      width: 3rem;
      text-align: center;
    }

    &__attribute-name {
      width: 50%;
      font-weight: $font-weight-bold;
    }
  }
}