@import 'styles/vars-and-mixins.scss';

.#{$namespace} {
  &term {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    &__subheader-wrapper {
      background: $black;
      color: $white;
    }

    &__subheader {
      align-items: center;
      display: flex;
      padding: 1.5rem 3rem;
    }

    &__subheader-back-btn {
      @include material-icon();
      background: $blue;
      border-radius: $input-border-radius;
      color: $white;
      font-size: 2.5rem;
      height: 3rem;
      line-height: 3rem;
      margin-right: 1.5rem;
      min-width: 3rem;
      text-align: center;
    }

    &__subheader-title {
      font-weight: $font-weight-bold;
    }

    &__content {
      flex-grow: 1 !important;
      padding: 2.5rem 3rem;

      & .ac-list-item {
        &__content {
          align-items: flex-start;
          padding-top: 15px;
          padding-bottom: 15px;
          min-height: initial;
          height: auto;
        }
      }
    }

    &__description {
      align-content: space-between;
      align-items: center;
      display: flex;
      width: 100%;
    }

    &__vocid {
      flex-grow: 1;
    }

    &__description-tooltip {
      @include material-icon();
    }

    &__connections-wrapper {

      & .ac-panel {
        &__content {
          height: calc(100% - 80px);
        }
      }

      &--stretched {
        height: 100%;        
      }
    }

    &__attribute-name {
      width: 50%;
      font-weight: $font-weight-bold;
      flex-shrink: 0;
    }

    &__tab {
      width: 17rem;
      text-align: center;
    }
  }
}